.clip {
    display: none;
    position: absolute;
    z-index: 500;
    top: 0;
    margin: 0 auto;
    width: 100%;
}

.clip-title {
    height: 2.778rem;
    background-color: #fff;
    margin-bottom: 1px;
    position: relative;
    padding-left: 1.111rem;
}

.title-back {
    height: 2.778rem;
}

.title-back img {
    height: 1rem;
    width: 0.861rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.title-back p {
    display: inline-block;
    font-size: 0.972rem;
    color: #49a3ef;
    position: absolute;
    left: 2rem;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}

.title-menu-submit {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0 5% 0 0;
    background-color: #fff;
    right: 0;
}

.title-menu-submit button {
    width: 100%;
    height: 1.944rem;
    text-align: center;
    font-size: 0.972rem;
    color: #fff;
    background: #49a3ef;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;

    -webkit-border-radius: 0.277rem;
    -moz-border-radius: 0.277rem;
    border-radius: 0.277rem;
}

.title-menu-submit button:active {
    background: #e4e5e6;
}

.avatar-wrapper {
    /*height: 31.6rem;*/
    width: 100%;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}

.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}
